<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand">Shopfy</a>

    <div id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <a class="nav-link" routerLink="/product"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart"
            >cart {{ getCount() > 0 ? getCount() : "" }}</a
          >
        </li>

        <li>
          <button class="nav-link" routerLink="/" (click)="logout()"> Logout </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
